<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">간단한 일대기.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1994년 5월 12일 목요일</h4>
                                    <h4 class="subheading">원욱 출생</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">29년 전, 한국에서 출생</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013년 3월</h4>
                                    <h4 class="subheading">서울대 컴퓨터공학부 입학</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">치열한 한국 입시를 거쳐 <br> 일반전형으로 컴퓨터공학부에 입학</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017년 3월</h4>
                                    <h4 class="subheading">석박통합과정 시작</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">6년이라는 긴 세월동안 연구를 하겠다는 결심을 하고<br> 석박통합과정을 시작</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023년 5월 4일</h4>
                                    <h4 class="subheading">박사 졸업 디펜스</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">지난 기간동안 열심히 연구하여<br> 박사 디펜스를 마무리로 졸업 임박</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>관악에서의
                                    <br>마지막
                                    <br>생일파티!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>